{#If you load a training you get on this site where you can change the informations of the chosen member.#}
{% extends "main/base.html" %}
{% load i18n %}
{#This is the changing part of the title in the jumbotron#}
{% block title %}
    {% trans "Edit Member" %}
{% endblock title %}

{% block content %}
    {% load widget_tweaks %}
    <div class="col-sm-7">

        <form method="post" novalidate>
            {% csrf_token %}

            <div class="form-group">
                <label for="Text">{% trans "Edit Member" %}</label>
            </div>
            <div class="form-group">
                <label for="first_name">{% trans "First Name" %}</label>
                {% render_field form.first_name class="form-control" %}
                {{ form.first_name.errors }}
            </div>
            <div class="form-group">
                <label for="last_name">{% trans "Last Name" %}</label>
                {% render_field form.last_name class="form-control" %}
                {{ form.last_name.errors }}
            </div>
            <div class="form-group">
                <label for="address">{% trans "Address" %}</label>
                {% render_field form.address class="form-control" %}
                {{ form.address.errors }}
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label for="zip_code">{% trans "Zip Code" %}</label>
                        {% render_field form.zip_code class="form-control" %}
                        {{ form.zip_code.errors }}
                    </div>
                    <div class="col-sm-8">
                        <label for="city">{% trans "City" %}</label>
                        {% render_field form.city class="form-control" %}
                        {{ form.city.errors }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="phone_number">{% trans "Phone Number" %}</label>
                {% render_field form.phone_number class="form-control" %}
                {{ form.phone_number.errors }}
            </div>
            <div class="form-group">
                <label for="email">{% trans "E-Mail address" %}</label>
                {% render_field form.email class="form-control" %}
                {{ form.email.errors }}
            </div>
            <div class="form-group">
                <input type="Submit" class="btn btn-default col-sm-6" value="{% trans "Submit" %}"
                       id="submit-add-member">
                <input type="Reset" class="btn btn-default col-sm-6" value="{% trans "Reset" %}">
            </div>
        </form>
    </div>
{% endblock content %}

