{#This is the entrance of this sub area. Here you can see all entrances and if necessery you can edit it immediately. You can also create an new one by clicking on the button bellow.#}
{% extends "main/base.html" %}
{% load i18n %}
{#This is the changing part of the title in the jumbotron#}
{% block title %}
    {% trans "Memberlist" %}
{% endblock title %}

{% block content %}
    <div class="col-sm-9">
        <b>{% trans "Here is the overview of the members" %}</b><br><a
            class="btn btn-default btn-sm" href="{% url 'add_member' %}"
            role="button">{% trans "Add Member" %}</a><br><br>
        {#    Hier ist eine Übersicht über die einzelnen Mitglieder:Um ein neues Mitglied hinzuzufügen:#}
        {% for m in messages %}
            <div class="alert alert-{{ m.tags }} alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ m }}</strong>
            </div>
        {% endfor %}
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>{% trans "First Name" %}</th>
                <th>{% trans "Last Name" %}</th>
                <th>{% trans "Username" %}</th>
                <th class="hidden-xs">&nbsp;</th>
                <th class="hidden-xs">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for member in members %}
                <tr>
                    <td>{{ member.user.first_name }}</td>
                    <td>{{ member.user.last_name }}</td>
                    <td>{{ member.user.username }}</td>
                    <td class="hidden-xs"><a class="btn btn-default btn-sm hidden-xs"
                                             href="{% url 'edit_member' member.id %}"
                                             role="button">{% trans "Edit" %}</a>
                    </td>
                    <td class="hidden-xs">
                        {% if member != user.member %}
                        <form method="post" action="{% url 'delete_member' member.id %}">
                            {% csrf_token %}
                            <button class="btn btn-default btn-sm hidden-xs"
                                    type="submit" role="button">{% trans "Delete" %}</button>
                        </form>
                        {% endif %}
                    </td>
                    <td class="hidden-sm hidden-md hidden-lg">
                    <td class="hidden-sm hidden-md hidden-lg"><a
                            class="btn btn-default btn-sm hidden-sm hidden-md hidden-lg"
                            href="{% url 'edit_member' member.id %}"
                            role="button">{% trans "Edit" %}</a>
                    </td>
                    <td class="hidden-sm hidden-md hidden-lg">
                        {% if member != user.member %}
                        <form method="post" action="{% url 'delete_member' member.id %}">
                            {% csrf_token %}
                            <button class="btn btn-default hidden-sm hidden-md hidden-lg"
                                    type="submit" role="button">{% trans "Delete" %}</button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock content %}
