{#This is the security request side for the deletion of an ice reservation.#}
{% extends "main/base.html" %}
{% load i18n %}
{% block title %}
    {#This is the changing part of the title in the jumbotron#}
    {% trans "Delete Ice Slot" %}
{% endblock title %}

{% block content %}
    <div class="col-sm-9">
        <b>{% trans "Delete Ice Slot" %}</b>
{#        Wollen Sie die Eisbelegung wirklich löschen?#}
        <br><br>
        Angaben der Eisbeleung (automatisch laden)
        <br><br>
        <a class="btn btn-default btn-sm" href="/ices" role="button">{% trans "Delete" %}</a>
        <button class="btn btn-default btn-sm" onclick="goBack()" role="button">{% trans "Reset" %}</button>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </div>

{% endblock content %}