{#This is the official login of our SCM-App. In this site is a control if you are already registered and of cours if your entered data are correct. If not, there will be a fault indication.#}
{% extends "main/base.html" %}
{% load i18n %}
{#This is the changing part in the jumbotron#}
{% block title %}
    {% trans "Title Login" %}

{% endblock title %}

{% block content %}
    <div class="col-sm-7">
        {% if form.errors %}
            <p>{% trans "Text Login Failed" %}</p>
{#            Your username and password didn't match. Please try again.#}
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>{% trans "Text No Access" %}</p>
{#                Your account doesn't have access to this page. To proceed,#}
{#                    please login with an account that has access.#}
            {% else %}
                <p>{% trans "Text Try New Login" %}</p>
{#                Please login to see this page.#}
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>

            <input type="submit" value="login"/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">{% trans "Lost Password" %}</a></p>
    </div>
{% endblock %}