{#This is the official login of our SCM-App. In this site is a control if you are already registered and of cours if your entered data are correct. If not, there will be a fault indication.#}
{% extends "main/base.html" %}
{% load i18n %}
{#This is the changing part of the title in the jumbotron#}
{% block title %}
    {% trans "Login" %}

{% endblock title %}

{% block content %}
    {% load widget_tweaks %}
    <div class="col-sm-7">
        {% if form.errors %}
            <p>{% trans "Your username and password didn't match. Please try again." %}</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>{% trans "Your account doesn't have access to this page. To proceed, please login with an account that has access." %}</p>
            {% else %}
                <p>{% trans "Please login to see this page" %}</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">{% trans "Username" %}</label>
                {% render_field form.username class="form-control" %}
                {{ form.username.errors }}
            </div>
            <div class="form-group">
                <label for="password">{% trans "Password" %}</label>
                {% render_field form.password class="form-control" %}
                {{ form.password.errors }}
            </div>

            <input type="submit" value="login"/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">{% trans "Lost Password" %}</a></p>
    </div>
{% endblock %}