{#You see this site after pushing the confirmation button for the password reset. #}
{% extends "main/base.html" %}
{% load i18n %}
{#This is the changing part of the title in the jumbotron#}
{% block title %}
    {% trans "Password Reset" %}

{% endblock title %}


{% block content %}
    <div class="col-sm-7">
        <p>{% trans "We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder." %}</p>
{#    We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check#}
{#            your#}
{#            spam folder.#}
    </div>
{% endblock %}