{#Here you have the formular for the reset of the password.#}
{% extends "main/base.html" %}
{% load i18n %}
{#This is the changing part of the title in the jumbotron#}
{% block title %}
    {% trans "Title Passwort Reset" %}

{% endblock title %}

{% block content %}
    <div class="col-sm-7">
        <form action="" method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="email_address">{% trans "Text Enter Email" %}</label>
{#            Please enter your email address:#}
                {% if form.email.errors %} {
                    { form.email.errors }
                    }
                {% endif %}
                <br>
                {{ form.email }}
            </div>

            <input type="submit" class="btn btn-default col-xs-6" value="{% trans "Submit" %}"/>
        </form>
    </div>
{% endblock %}