{#You see this site after finishing the reset of the password. #}
{% extends "main/base.html" %}
{% load i18n %}
{#This is the changing part of the title in the jumbotron#}
{% block title %}
    {% trans "Title Password Reset" %}

{% endblock title %}


{% block content %}
    <div class="col-sm-7">
        <h3>{% trans "Text Password Reset Complete" %}</h3>
{#        The password has been changed!#}
        <p><a href="{% url 'login' %}">{% trans "Login Again" %}</a></p>
    </div>
{% endblock %}

