{#This is the Sign Up side. Here you can create an account for the sign up.#}
{% extends "main/base.html" %}
{% load i18n %}
{#This is the changing part in the jumbotron#}
{% block title %}
    {% trans "Title Sign Up" %}

{% endblock title %}

{#Here is the formular to create an account. After the confirmation and the checks you are logged in.#}
{% block content %}
    <div class="col-sm-7">
        {% comment %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-default col-xs-6">Sign up</button>
        </form>
        {% endcomment %}
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}
            <button type="submit" class="btn btn-default col-xs-6" value="{% trans "Text Sign Up" %}">{% trans "Text Sign Up" %}</button>
        </form>
    </div>
{% endblock %}

