{% extends "main/base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Title Add Eisbelegung" %}

{% endblock title %}

{% block content %}
    {% load widget_tweaks %}
    <div class="col-sm-7">

        <form method="post" novalidate>
            {% csrf_token %}

            <div class="form-group">
                {{ form.start_time.label_tag }}
                {% render_field form.start_time class="form-control" %}
                {{ form.start_time.errors }}
            </div>
            <div class="form-group">
                {{ form.end_time.label_tag }}
                {% render_field form.end_time class="form-control" %}
                {{ form.end_time.errors }}
            </div>
            <input type="Submit" class="btn btn-default col-sm-6" value="{% trans "Submit" %}">
            <input type="Reset" class="btn btn-default col-sm-6" value="{% trans "Reset" %}">

            <script type="text/javascript">
                $('input[name="start_time"]').daterangepicker(
                    {
                        locale: {
                            format: 'YYYY-MM-DD HH:mm'
                        },
                        "singleDatePicker": true,
                        "timePicker": true,
                        "timePicker24Hour": true,
                        "timePickerIncrement": 15,
                        "autoApply": true,
                        "opens": "right",
                        "drops": "down",
                    }
                );
                $('input[name="end_time"]').daterangepicker(
                    {
                        locale: {
                            format: 'YYYY-MM-DD HH:mm'
                        },
                        "singleDatePicker": true,
                        "timePicker": true,
                        "timePicker24Hour": true,
                        "timePickerIncrement": 15,
                        "autoApply": true,
                        "opens": "right",
                        "drops": "down",
                    }
                );
            </script>

        </form>
    </div>
{% endblock content %}