{# If you have to create invoices you can enter the informations here and the bills are going to be created. Normally they should be sended directly by email. #}
{% extends "main/base.html" %}
{% load i18n %}
{#This is the changing part of the title in the jumbotron#}
{% block title %}
    {% trans "Title Payed Bill" %}

{% endblock title %}

{% block content %}
    {% load widget_tweaks %}
    <div class="col-sm-7">

        <form method="post" novalidate>
            {% csrf_token %}

            <div class="form-group">
                <label for="title">{% trans "Title Add Invoice" %}</label>
                {% render_field form.title class="form-control" %}
                {{ form.title.errors }}
            </div>
            <div class="form-group">
                <label for="description">{% trans "Description Add Invoice" %}</label>
                {% render_field form.description class="form-control" %}
                {{ form.description.errors }}
            </div>
            <div class="form-group">
                <label for="amount">{% trans "Amount" %}</label>
                {% render_field form.amount class="form-control" %}
                {{ form.amount.errors }}
            </div>
            <div class="form-group">
                <label for="due_date">{% trans "Due Date" %}</label>
                {% render_field form.due_date class="form-control" %}
                {{ form.due_date.errors }}
            </div>
            <div class="form-group">
                <label for="member">{% trans "Select Member" %}</label>
                {% render_field form.member class="form-control" %}
                {{ form.member.errors }}
            </div>

            <input type="Submit" class="btn btn-default col-sm-6" value="{% trans "Submit" %}">
            <input type="Reset" class="btn btn-default col-sm-6" value="{% trans "Reset" %}">

            <script type="text/javascript">
                $('input[name="due_date"]').daterangepicker(
                    {
                        locale: {
                            format: 'YYYY-MM-DD'
                        },
                        "singleDatePicker": true,
                        "timePicker": false,
                        "timePicker24Hour": true,
                        "timePickerIncrement": 15,
                        "autoApply": true,
                        "opens": "right",
                        "drops": "down",
                    }
                );
            </script>
        </form>
    </div>

{% endblock content %}