{% extends "main/base.html" %}

{% block title %}
    Eisbelegung löschen
{% endblock title %}

{% block content %}
    <div class="col-sm-9">
        <b>{% trans "Delete Ice" %}</b>
{#        Woll Sie die Eisbelegung wirklich löschen?#}
        <br><br>
        Angaben der Eisbeleung (automatisch laden)
        <br><br>
        <a class="btn btn-default btn-sm" href="/ice/list" role="button">{% trans "Delete" %}</a>
        <button class="btn btn-default btn-sm" onclick="goBack()" role="button">{% trans "Cancel" %}</button>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </div>

{% endblock content %}