{% extends "main/base.html" %}

{% block title %}
    {% trans "Title Delete Member" %}
{#    Mitglied löschen#}
{% endblock title %}

{% block content %}
    <div class="col-sm-9">
        <b>{% trans "Delete Member" %}</b>
{#        Woll Sie das Mitglied wirklich löschen?#}
        <br><br>
        Nachname, Vorname (Vor- und Nachname automatisch laden)
        <br><br>
        <a class="btn btn-default btn-sm" href="/member/list" role="button">{% trans "Delete" %}</a>
        <button class="btn btn-default btn-sm" onclick="goBack()" role="button">{% trans "Cancel" %}</button>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </div>

{% endblock content %}
