{% extends "main/base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Title Delete Training" %}
{#    Training löschen#}
{% endblock title %}

{% block content %}
    <div class="col-sm-9">
        <b>{% trans "Text Delete Training" %}</b>
{#        Woll Sie das Training wirklich löschen?#}
        <br><br>
        Trainingsdaten (automatisch laden)
        <br><br>
        <a class="btn btn-default btn-sm" href="/training/list" role="button">{% trans "Delete" %}</a>
        <button class="btn btn-default btn-sm" onclick="goBack()" role="button">{% trans "Reset" %}</button>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </div>

{% endblock content %}