{#This is the security request side for the deletion of a member.#}
{% extends "main/base.html" %}
{% load i18n %}
{#This is the changing part of the title in the jumbotron#}
{% block title %}
    {% trans "Title Delete Member" %}
{% endblock title %}

{% block content %}
    <div class="col-sm-9">
        <b>{% trans "Text Delete Member" %}</b>
{#        Woll Sie das Mitglied wirklich löschen?#}
        <br><br>
        Nachname, Vorname (Vor- und Nachname automatisch laden)
        <br><br>
        <a class="btn btn-default btn-sm" href="/members" role="button">{% trans "Delete" %}</a>
        <button class="btn btn-default btn-sm" onclick="goBack()" role="button">{% trans "Reset" %}</button>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </div>

{% endblock content %}
