{#If you load a training you get on this site where you can change the informations of the chosen ice reservation.#}
{% extends "main/base.html" %}
{% load i18n %}
{#This is the changing part of the title in the jumbotron#}
{% block title %}
    {% trans "Edit Ice Slot" %}
{% endblock title %}

{% block content %}

    <div class="col-sm-7">

        <form action="add_member">
            <div class="form-group">
                <label for="Text">{% trans "Please enter the correct data for the ice slot" %}</label>
{#                    Bitte tragen Sie die korrigierten Daten die Eisbelegung ein:#}
            </div>
            <div class="form-group">
                <label for="training">{% trans "Training" %}</label>
                {#                {% render_field form.first_name class="form-control" %}#}
            </div>
            <div class="form-group">
                <label for="trainer">{% trans "Trainer" %}</label>
                {#                {% render_field form.last_name class="form-control" %}#}
            </div>
            <div class="form-group">
                <label for="date">{% trans "Date" %}</label>
                <input class="datetime" type="datetime-local" name="date" id="date">
                {#                {% render_field form.address class="form-control" %}#}
            </div>


            <input type="Submit" class="btn btn-default col-sm-6" value="{% trans "Submit" %}">
            <input type="Reset" class="btn btn-default col-sm-6" value="{% trans "Delete" %}">
            <br><br><br><br>


        </form>
    </div>

{% endblock content %}