{% extends "main/base.html" %}

{% block title %}
    {% trans "Title Edit Training" %}
{#    Training editieren#}
{% endblock title %}

{% block content %}

    <div class="col-sm-7">

        <form action="add_member">
            <div class="form-group">
                <label for="Text">{% trans "Text Edit Training" %}</label>
                    Bitte tragen Sie die Daten für das korrigierte Training ein:
            </div>
            <div class="form-group">
                <label for="training">{% trans "Edit Name Training" %}</label>
                {#                {% render_field form.first_name class="form-control" %}#}
            </div>
            <div class="form-group">
                <label for="trainer">{% trans "Edit Name Trainer"%}</label>
                {#                {% render_field form.last_name class="form-control" %}#}
            </div>
            <div class="form-group">
                <label for="date">{% trans "Edit Date" %}</label>
                <input class="datetime" type="datetime-local" name="date" id="date">
                {#                {% render_field form.address class="form-control" %}#}
            </div>
            <div class="form-group">
                <label for="add_player">{% trans "Choose Players" %}</label>
                <select class="selectpicker" multiple>
                    <option>Stefan</option>
                    <option>Tobias</option>
                    <option>Michael</option>
                    <option>Gregor</option>
                    <option>etwas1</option>
                    <option>etwas2</option>
                    <option>jemand1</option>
                    <option>jemand2</option>
                </select>
                {#                {% render_field form.phone_number class="form-control" %}#}
            </div>

            <input type="Submit" class="btn btn-default col-sm-6" value="{% trans "Submit" %}">
            <input type="Reset" class="btn btn-default col-sm-6" value="{% trans "Delete" %}">
            <br><br><br><br>


        </form>
    </div>

{% endblock content %}