{% extends "main/base.html" %}

{% block title %}
    Training editieren
{% endblock title %}

{% block content %}

    <div class="col-sm-7">

        <form action="add_member">
            <div class="form-group">
                <label for="Text">Bitte tragen Sie die Daten für das korrigierte Training ein:</label>
            </div>
            <div class="form-group">
                <label for="training">Training</label>
                {#                {% render_field form.first_name class="form-control" %}#}
            </div>
            <div class="form-group">
                <label for="trainer">Trainer</label>
                {#                {% render_field form.last_name class="form-control" %}#}
            </div>
            <div class="form-group">
                <label for="date">Datum</label>
                <input class="datetime" type="datetime-local" name="date" id="date">
                {#                {% render_field form.address class="form-control" %}#}
            </div>
            <div class="form-group">
                <label for="add_player">Spieler auswählen</label>
                <select class="selectpicker" multiple>
                    <option>Stefan</option>
                    <option>Tobias</option>
                    <option>Michael</option>
                    <option>Gregor</option>
                    <option>etwas1</option>
                    <option>etwas2</option>
                    <option>jemand1</option>
                    <option>jemand2</option>
                </select>
                {#                {% render_field form.phone_number class="form-control" %}#}
            </div>

            <input type="Submit" class="btn btn-default col-sm-6" value="Übertragen">
            <input type="Reset" class="btn btn-default col-sm-6" value="Eingaben löschen">
            <br><br><br><br>


        </form>
    </div>

{% endblock content %}