{#If you load a training you get on this site where you can change the informations of the chosen member.#}
{% extends "main/base.html" %}
{% load i18n %}
{#This is the changing part of the title in the jumbotron#}
{% block title %}
    {% trans "Title Edit Member" %}
{% endblock title %}

{% block content %}
    {% load widget_tweaks %}
    <div class="col-sm-7">

        <form method="post" novalidate>
            {% csrf_token %}

            <div class="form-group">
                <label for="Text">{% trans "Text Edit Member" %}</label>
            </div>
            <div class="form-group">
                <label for="firstname">{% trans "Enter First Name" %}</label>
                {% render_field form.user.first_name class="form-control" %}
                {{ form.user.first_name.errors }}
            </div>
            <div class="form-group">
                <label for="lastname">{% trans "Enter Last Name" %}</label>
                <input type="text" class="form-control" id="lastname" placeholder="Last Name" required>
            </div>
            <div class="form-group">
                <label for="address">{% trans "Enter Address" %}</label>
                {% render_field form.address class="form-control" %}
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="postale code">{% trans "Enter Postale Code" %}</label>
                        <input type="text" class="form-control" id="plz" placeholder="Postale Code" required
                               pattern="[0-9]{4}"
                               title="{% trans "Enter Postale Code Spezified" %}"
                               inputmode="numeric">
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="city">{% trans "Enter City Name" %}</label>
                        <input type="text" class="form-control" id="city" placeholder="City" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="phonenumber">{% trans "Enter Phone Number" %}</label>
                <input type="tel" class="form-control" id="phonenumber" placeholder="Phone Number" required>
            </div>

            <input type="Submit" class="btn btn-default col-sm-6" value="{% trans "Submit" %}">
            <input type="Reset" class="btn btn-default col-sm-6" value="{% trans "Reset" %}">
            <br><br><br><br>


        </form>
    </div>
{% endblock content %}

