{% extends "base.html" %}

{% block title %}
    Ice Management
{% endblock title %}

{% block content %}
    <div class="col-md-12">

        This is the ice-management-site.

        <div class="col-xs-3 sidebar-offcanvas pull-right" id="sidebar">
            <section>
                <h3>Datum - Uhrzeit</h3>
                Datum - Uhrzeit
            </section>

            <section>
                <h3>Nächste Spiele:</h3>
                Spieldatum 1<br>
                Spieldatum 2<br>
                Spieldatum 3<br>

            </section>

            <section>
                <h3>Geburtstage</h3>
                GB 1<br>
                GB 2<br>
                GB3 <br>
            </section>
        </div>
    </div>
{% endblock content %}
