{#This is our index side. You get on this site if you are entering our domain. #}
{% extends "main/base.html" %}
{% load i18n %}
{#This is the changing part of the title in the jumbotron#}
{% block title %}
    {% trans "Welcome" %}
{% endblock title %}

{% block content %}

    <div class="col-sm-9">
    <b>{% trans "Welcome" %}</b><br><br>
{#       Herzlich willkommen im "Simple Club Manager" #}
        {% trans "With this brilliant tool you can manage your club in the most easiest way without taking care about the stuff in the background.<br><br>You can see inthe Navigation these points: Ice Management, Member, Training, Billing, Impressumg Contact, Login. Each of this points speaks for itself and contains everything neede.d<br><br>For further questions please contact Gabor Tanz and/or Alain Keusen. :-)" %}
{#    Mit diesem genialen Tool können Sie auf einfachste Weise die Verwaltung Ihren Verein übernehmen, ohne sich grossartig um die Dinge im Hintergrund kümmern zu müssen.<br><br>#}
{#    Sie sehen in der Navigation die Punkte: Ice Management, Member, Trainings, Billing, Impressum, Contact, Login. Jeder dieser Punkte spricht für sich und enthält alles, was man braucht.<br><br>#}
{#    Für weitere Fragen, wie z.B. wie und wo werden die Daten gespeichert, wenden Sie sich bitte an Gabor Tanz und/oder Alain Keusen. :-)#}
    </div>
{% endblock content %}