{% extends "base.html" %}

{% block title %}
    Willkommen
{% endblock title %}

{% block content %}

    <b>Herzlich willkommen im "Simple Club Manager"</b><br><br>
    Mit diesem genialen Tool können Sie auf einfachste Weise die Verwaltung Ihren Verein übernehmen, ohne sich grossartig um die Dinge im Hintergrund kümmern zu müssen.<br><br>
    Sie sehen in der Navigation die Punkte: Ice Management, Member, Trainings, Billing, Impressum, Contact, Login. Jeder dieser Punkte spricht für sich und enthält alles, was man braucht.<br><br>
    Für weitere Fragen, wie z.B. wie und wo werden die Daten gespeichert, wenden Sie sich bitte an Gabor Tanz und/oder Alain Keusen. :-)

{% endblock content %}