{% extends "base.html" %}

{% block title %}
    Mitgliederliste
{% endblock title %}

{% block content %}
    <div class="col-sm-9">
        <b>Hier ist eine Übersicht über die einzelnen Mitglieder:</b><br><br>
        <table class="table">
            <thead>
            <tr>
                <th>Nr.</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Benutzername</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>1</th>
                <th>V1</th>
                <th>N1</th>
                <th>B1</th>
            </tr>
            <tr>
                <th>2</th>
                <th>V2</th>
                <th>N2</th>
                <th>B2</th>
            </tr>
            <tr>
                <th>3</th>
                <th>V3</th>
                <th>N3</th>
                <th>B3</th>
            </tr>
            </tbody>

        </table>
    </div>


{% endblock content %}
