{#This is the entrance of this sub area. Here you can see all entrances and if necessery you can edit it immediately. You can also create an new one by clicking on the button bellow.#}
{% extends "main/base.html" %}
{% load i18n %}
{#This is the changing part of the title in the jumbotron#}
{% block title %}
    {% trans "Title List Training" %}
{% endblock title %}

{% block content %}

    <div class="col-sm-9">
        <b>{% trans "Text List Training" %}</b><br>{% trans "Text Add Training" %}<a class="btn btn-default btn-sm"
                                                                                     href="{% url 'add_training' %}"
                                                                                     role="button">{% trans "Button Add Training" %}</a><br><br>
        {#        Hier sehen Sie eine Übersicht über die geplanten Trainings:Um ein neues Mitglied hinzuzufügen: #}
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>{% trans "Training" %}</th>
                <th>{% trans "Trainer" %}</th>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Amount" %}</th>
                <th class="hidden-xs">&nbsp;</th>
                <th class="hidden-xs">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for t in trainings %}
                <tr>
                    <td>{{ t.description }}</td>
                    <td>{{ t.trainer.user.first_name }}</td>
                    <td>{{ t.start_time }} {{ t.end_time }}</td>
                    <td></td>
                    <td class="hidden-xs"><a class="btn btn-default btn-sm hidden-xs"
                                             href="{% url 'edit_training' t.id %}" role="button">{% trans "Edit" %}</a>
                    </td>
                    <td class="hidden-xs"><a class="btn btn-default btn-sm hidden-xs"
                                             href="{% url 'delete_training' t.id %}"
                                             role="button">{% trans "Delete" %}</a></td>
                </tr>
                <tr class="hidden-sm hidden-md hidden-lg">
                    <td class="hidden-sm hidden-md hidden-lg"><a
                            class="btn btn-default btn-sm hidden-sm hidden-md hidden-lg"
                            href="{% url 'edit_training' t.id %}" role="button">{% trans "Edit" %}</a></td>
                    <td class="hidden-sm hidden-md hidden-lg"><a
                            class="btn btn-default btn-sm hidden-sm hidden-md hidden-lg"
                            href="{% url 'delete_training' t.id %}" role="button">{% trans "Delete" %}</a></td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>


{% endblock content %}

