{% extends "base.html" %}

{% block title %}
    Add Memeber
{% endblock title %}

{% block content %}
    <div class="col-md-12">
        <div class="col-sm-7">

            <form action="add_member">
                <div class="form-group">
                    <label for="Text">Bitte tragen Sie die Daten des neuen Mitglied ein:</label>
                </div>
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control" id="firstname" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="Adresse">
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div clss="form-group">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="city" placeholder="City">
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="postale code">Postale Code</label>
                            <input type="text" class="form-control" id="plz" placeholder="Postale Code" required
                                   pattern="[0-9]{4}"
                                   title="Bitte eine vierstellige Postleitzahl eingeben"
                                   inputmode="numeric">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phonenumber">Phone Number</label>
                    <input type="tel" class="form-control" id="phonenumber" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username" required
                           pattern="[a-zA-Z][a-zA-Z0-9]{1,20}$"
                           title="Usernames are without punctuation marks. It contains one to twenty characters. Please, don't use 'ä', 'ö' and 'ü'">
                </div>
                <div class="form-group">
                    <label for="password1">Password</label>
                    <input type="password" class="form-control" id="password1" placeholder="Password"
                           required pattern="[a-zA-Z][a-zA-Z0-9.]{7,16}$"
                           title="Your password must be alphanumeric, it must have a dot and you must take between 8 and 16 characters.">
                </div>
                <div class="form-group">
                    <label for="password2">Password - Repeat</label>
                    <input type="password" class="form-control" id="password2" placeholder="Password Repeat"
                           required pattern="[a-zA-Z][a-zA-Z0-9.]{7,16}$"
                           title="Your password must be alphanumeric, it must have a dot and you must take between 8 and 16 characters.">
                </div>

                <input type="Submit" class="btn btn-default col-xs-6" value="Submit">
                <input type="Reset" class="btn btn-default col-xs-6" value="Reset">
                <br><br><br><br>


                <script>

                    var alpha = document.querySelector('input[name=password1]');
                    var beta = document.querySelector('input[name=password2]');

                    beta.oninput = function () {
                        if (alpha.value !== beta.value) {
                            beta.setCustomValidity('Passwörter nicht identisch!');
                        }
                        else {
                            beta.setCustomValidity('');
                        }
                    };

                </script>


            </form>
        </div>
        <div class="col-xs-3 sidebar-offcanvas pull-right" id="sidebar">
            <section>
                <h3>Datum - Uhrzeit</h3>
                Datum - Uhrzeit
            </section>

            <section>
                <h3>Nächste Spiele:</h3>
                Spieldatum 1<br>
                Spieldatum 2<br>
                Spieldatum 3<br>

            </section>

            <section>
                <h3>Geburtstage</h3>
                GB 1<br>
                GB 2<br>
                GB3 <br>
            </section>
        </div>
    </div>
{% endblock content %}
