{% extends "main/base.html" %}

{% block title %}
    Gemahnte Mitglieder
{% endblock title %}

{% block content %}

        <div class="col-sm-9">
        <b>Diese Mitglieder wurden gemahnt:</b><br>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Nr.</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Benutzername</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>V1</td>
                <td>N1</td>
                <td>B1</td>
                <td><a class="btn btn-default btn-sm" href="/bills/facturate" role="button">Verrechnen</a></td>
                <td><a class="btn btn-default btn-sm" href="/bills/delayed" role="button">Mahnen</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>V2</td>
                <td>N2</td>
                <td>B2</td>
                <td><a class="btn btn-default btn-sm" href="/bills/facturate" role="button">Verrechnen</a></td>
                <td><a class="btn btn-default btn-sm" href="/bills/delayed" role="button">Mahnen</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>V3</td>
                <td>N3</td>
                <td>B3</td>
                <td><a class="btn btn-default btn-sm" href="/bills/facturate" role="button">Verrechnen</a></td>
                <td><a class="btn btn-default btn-sm" href="/bills/delayed" role="button">Mahnen</a></td>
            </tr>
            </tbody>

        </table>
    </div>
{% endblock content %}