{% extends "main/base.html" %}

{% block title %}
    Trainingsverwaltung
{% endblock title %}

{% block content %}
    <h3>Trainingsansicht</h3>
    <div class="row">
        <div class="col-sm-3">Nr</div>
        <div class="col-sm-3">1</div>
    </div>
    <div class="row">
        <div class="col-sm-3">Training</div>
        <div class="col-sm-3">Junior 1</div>
    </div>
    <div class="row">
        <div class="col-sm-3">Trainer</div>
        <div class="col-sm-3">Sebastian</div>
    </div>
    <div class="row">
        <div class="col-sm-3">Datum</div>
        <div class="col-sm-3">28.11.2017 - 09:00</div>
    </div>
    <h4>Spieler</h4>
    <ul>
        <li>Stefan</li>
        <li>Tobias</li>
        <li>Michael <a class="btn btn-default btn-sm" href="#" role="button">Abmelden</a></li>
        <li>Gregor</li>
        <li>etwas1</li>
        <li>etwas2</li>
        <li>jemand1</li>
        <li>jemand2</li>
    </ul>
{% endblock content %}