{#On this side it's possible to add a training. You have to enter all informations and to submit them.#}
{% extends "main/base.html" %}
{% load i18n %}
{#This is the changing part of the title in the jumbotron#}
{% block title %}
    {% trans "Add Training" %}
{% endblock title %}

{% block content %}
    {% load widget_tweaks %}
    <div class="col-sm-7">
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="form-group">
                <label for="Text">{% trans "Add Training" %}</label>
            </div>
            <div class="form-group">
                <label for="title">{% trans "Training" %}</label>
                {% render_field form.title class="form-control" %}
                {{ form.title.errors }}
            </div>
            <div class="form-group">
                <label for="description">{% trans "Description" %}</label>
                {% render_field form.description class="form-control" %}
                {{ form.description.errors }}
            </div>
            <div class="form-group">
                <label for="start_time">{% trans "Start Time" %}</label>
                {% render_field form.start_time class="form-control" %}
                {{ form.start_time.errors }}
            </div>
            <div class="form-group">
                <label for="end_time">{% trans "End Time" %}</label>
                {% render_field form.end_time class="form-control" %}
                {{ form.end_time.errors }}
            </div>
            <div class="form-group">
                <label for="ice_slot">{% trans "Select Ice Slot" %}</label>
                {% render_field form.ice_slot class="form-control" %}
                {{ form.ice_slot.errors }}
            </div>
            <div class="form-group">
                <ul id="trainings">
                </ul>
            </div>
            <div class="form-group">
                <label for="trainer">{% trans "Trainer" %}</label>
                {% render_field form.trainer class="form-control" %}
                {{ form.trainer.errors }}
            </div>
            <div class="form-group">
                <label for="members">{% trans "Select Members" %}</label>
                {% render_field form.members class="form-control" %}
                {{ form.members.errors }}
            </div>
            <input type="Submit" class="btn btn-default col-sm-6" value="{% trans "Submit" %}">
            <input type="Reset" class="btn btn-default col-sm-6" value="{% trans "Reset" %}">
            <script type="text/javascript">
                $('input[name="start_time"]').daterangepicker(
                    {
                        locale: {
                            format: 'YYYY-MM-DD HH:mm'
                        },
                        "singleDatePicker": true,
                        "timePicker": true,
                        "timePicker24Hour": true,
                        "timePickerIncrement": 15,
                        "autoApply": true,
                        "opens": "right",
                        "drops": "down",
                    }
                );
                $('input[name="end_time"]').daterangepicker(
                    {
                        locale: {
                            format: 'YYYY-MM-DD HH:mm'
                        },
                        "singleDatePicker": true,
                        "timePicker": true,
                        "timePicker24Hour": true,
                        "timePickerIncrement": 15,
                        "autoApply": true,
                        "opens": "right",
                        "drops": "down",
                    }
                );
                $('#id_ice_slot').change(function () {
                    var id=$(this).find(':selected')[0].value;
                    $.ajax({
                        type: 'GET',
                        url: '/ice_slots/' + id,
                        success: function (data) {
                            var trainings = $('#trainings');
                            trainings.empty();
                            for (var i = 0; i < data.length; i++) {
                                 trainings.append('<li>' + data[i].fields['title'] + ' ' + data[i].fields.start_time + '-' + data[i].fields.end_time + '</li>');
                            }
                        }
                    })
                });
            </script>
        </form>
    </div>

{% endblock content %}