{% extends "main/base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Training overview" %}
{% endblock title %}

{% block content %}
    <div class="col-sm-7">
        <h3>{{ training.title }}</h3>
        <div class="row">
            <div class="col-sm-4">{% trans "Date" %}</div>
            <div class="col-sm-4">{{ training.start_time|date:"l d M Y" }}</div>
        </div>
        <div class="row">
            <div class="col-sm-4">{% trans "Time" %}</div>
            <div class="col-sm-4">{{ training.start_time|date:"H:i" }}-{{ training.end_time|date:"H:i" }}</div>
        </div>
        <div class="row">
            <div class="col-sm-4">{% trans "Trainer" %}</div>
            <div class="col-sm-4">{{ training.trainer }}</div>
        </div>
        <div class="row">
            <div class="col-sm-4">{% trans "Participants" %}</div>
        </div>
        <div class="row">
            <ul>
                {% for m in training.members.all %}
                    <li>{{ m }} {% if m == user.member %}
                        <a class="btn btn-default btn-sm" href="#" role="button">{% trans "unregister" %}</a>{% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <h4>{% trans "Description" %}</h4>
        <div class="row">
            <div class="col-sm-12">{{ training.description }}</div>
        </div>
    </div>
{% endblock content %}