{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "main/html_header.html" %}
</head>
<body>
<div class="container">
    <div class="row">
        <nav>
            {% include "main/navigation.html" %}
        </nav>
    </div>


    <div class="row">
        <div class="jumbotron hidden-xs">
            <div class="row">
                <div class="col-md-3 text-center">
                    <img class="img-rounded" src="{% static '/images/logo_scm.jpg' %}" width="100" height="75">
                </div>

                <div class="col-md-9 text-center">
                    <h2>
                        Simple Club Manager -

                        {% block title %}
                            <div>TITLE CONTENT PLACEHOLDER</div>
                        {% endblock title %}
                    </h2>
                </div>

            </div>
        </div>

    </div>

    <div class="row">
        <main>
            <div class="col">

                <h1>{% trans "Test Translationdoc   " %}</h1>

                {% block content %}
                    <div>BLOCK CONTENT PLACEHOLDER</div>
                {% endblock content %}

                {% if user.is_authenticated %}

                {% endif %}
            </div>
        </main>
    </div>
    <div class="row">
        <div class="col">
            <footer class="footer">

                &copy; SCM - Developer Team, Bern, 03.05.2020

            </footer>
        </div>
    </div>
</div> <!-- /container -->


<!-- Bootstrap-JavaScript
================================================== -->
<!-- Am Ende des Dokuments platziert, damit Seiten schneller laden -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static '/bootstrap/js/offcanvas.js' %}"></script>
<script src="{% static '/bootstrap/js/bootstrap-select.min.js' %}"></script>



