{% load i18n %}
{# Fixierte Navbar #}
{% comment %}
This is the navigation. We are working with a layout from bootstrap for the responsive design. Also we use Django and Pycharm for the animations and the activated field in the navigation.
{% endcomment %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
{#    This part is necessary for the navigation bar header. #}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Navigation ein-/ausblenden</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Simple Club Manager</a>
        </div>
        {% with request.resolver_match.url_name as url_name %}
{#            This part includes the navigation content which is collapseable. #}
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}

                        <li class="{% if url_name == 'loggedInLandingPage' %}active{% endif %}"><a
                                href="{% url 'loggedInLandingPage' %}">Index</a>
                        </li>

                        <li class="dropdown
                            {% if url_name == 'list_ices' %}active{% endif %}
                            {% if url_name == 'add_ice' %}active{% endif %}
                        ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Ice Management<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="{% if url_name == 'list_ices' %}active{% endif %}"><a
                                        href="{% url 'list_ices' %}">List
                                    Ices</a></li>
                                <li class="{% if url_name == 'add_ice' %}active{% endif %}"><a
                                        href="{% url 'add_ice' %}">Add
                                    Ice</a></li>
                            </ul>
                        </li>


                        <li class="dropdown
                            {% if url_name == 'list_members' %}active{% endif %}
                            {% if url_name == 'add_member' %}active{% endif %}
                        ">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Member<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="{% if url_name == 'list_members' %}active{% endif %}"><a
                                        href="{% url 'list_members' %}">List Member</a></li>
                                <li class="{% if url_name == 'add_member' %}active{% endif %}"><a
                                        href="{% url 'add_member' %}">Add Member</a></li>
                            </ul>
                        </li>


                        <li class="dropdown
                            {% if url_name == 'list_trainings' %}active{% endif %}
                            {% if url_name == 'add_training' %}active{% endif %}
                        ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Trainings<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="{% if url_name == 'list_trainings' %}active{% endif %}"><a
                                        href="{% url 'list_trainings' %}">List Training</a></li>
                                <li class="{% if url_name == 'add_training' %}active{% endif %}"><a
                                        href="{% url 'add_training' %}">Add
                                    Training</a></li>
                            </ul>
                        </li>

                        <li class="dropdown
                            {% if url_name == 'list_invoices' %}active{% endif %}
                            {% if url_name == 'edit_invoice' %}active{% endif %}
                            {% if url_name == 'create_invoice' %}active{% endif %}
                        ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Invoices<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="{% if url_name == 'list_invoices' %}active{% endif %}"><a
                                        href="{% url 'list_invoices' %}">List Invoices</a></li>
                                <li class="{% if url_name == 'create_invoice' %}active{% endif %}"><a
                                        href="{% url 'create_invoice' %}">Create Invoice</a></li>
                            </ul>
                        </li>
                        </li>

                        <li class="{% if url_name == 'impressum' %}active{% endif %}"><a
                                href="{% url 'impressum' %}">Impressum</a></li>

                        <li class="{% if url_name == 'contact' %}active{% endif %}"><a
                                href="{% url 'contact' %}">Contact</a>
                        </li>

                    {% endif %}

                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'logout' %}"><strong>Logout {{ user.get_username }}</strong></a>
                        </li>
                    {% else %}
                        <li class="{% if url_name == 'login' %}active{% endif %}"><a
                                href="{% url 'login' %}?next={{ request.path }}">Login</a></li>

                        <li class="{% if url_name == 'signup' %}active{% endif %}"><a
                                href="{% url 'signup' %}?next={{ request.path }}">Sign up</a></li>
                        <li class="{% if url_name == 'impressum' %}active{% endif %}"><a
                                href="{% url 'impressum' %}">Impressum</a></li>

                        <li class="{% if url_name == 'contact' %}active{% endif %}"><a
                                href="{% url 'contact' %}">Contact</a>
                        </li>
                    {% endif %}

                </ul>

            </div><!--/.nav-collapse -->
        {% endwith %}
    </div>
</nav>
